html, body {
	overflow-x: hidden;
}

line{
	stroke: #D3D3D3;
	stroke-width: 1px;
}

.container-fluid-header{
    width: 100%;
    height: 650px;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
    margin-bottom: 50px;
    background-color: #8B0000;
}

h1#title{
	font-family: 'Berkshire Swash', cursive;
	font-size: 70px;
	text-align: center;
	width: 80%;
	height: 100%;
	padding-top: 200px;
	margin-top: 0px;
	margin-left: 10%;
	margin-right: 10%;
	color: white;
}

p#subhed{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	color: white;
	width: 70%;
	height: 100%;
	margin-left: 15%;
	margin-right: 15%;
}

p#credit{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 15px;
	color: white;
	width: 70%;
	height: 100%;
	margin-left: 15%;
	margin-right: 15%;
}

.container-top{
    width: 100%;
    height: 200px;
    background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
}

p#content{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	color: black;
	width: 50%;
	height: 100px;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 200px;
}

.main-container{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #FFEFD5;
}

.app-container{
	width:100%;
	height:100%;
	position:fixed;
	background:pink;
	z-index:-1;
	transition:all 500ms;
}

.scroll-container{
	height:100%;
	width:30%;
}

.scroll-scene{
	height: 100%;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	color: black;
}

.module{
	min-height: 500px;
}

#winebox{
	width: 100%;
    height: 94px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#part-1{
	font-family: 'PT Sans Narrow', sans-serif;
}

#part-2{
	font-family: 'PT Sans Narrow', sans-serif;
}

#part-3{
	font-family: 'PT Sans Narrow', sans-serif;
}

.container-buttom{
	width: 100%;
    height: 100%;
    background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
}

p#content-1{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	color: black;
	width: 70%;
	height: 100px;
	margin-left: 15%;
	margin-right: 15%;
}

.graphic{
	width: 500px;
	height: 300px;
    margin: 10px 20% 100px 20%;
}

.line{
	width: 100%;
	height: 1px;
	background-color: #8B0000;
}

h6.footer{
	width: 60%;
	height: 20px;
	margin-left: 20%;
	margin-right: 20%;
}
