body {
	background-color: #FDF5E6;

}

.title {
	width: 300px;
	height: 140px;

}

.image{
	
	width: 791.5px;
	height: 270px;
}

.line{
	width: 700px;
	margin-left: 30px;
	margin-top: -30px;
	height: 2px;
	background-color: maroon;
}

h1 {
	font-size: 40px;
	font-family: 'Lobster', cursive;
	color: maroon;
	padding-left: 30px;

}

#mainbox{
	width: 650px;
	height: 400px;
	background-color: none;
}


#rectbox{
	width: 650px;
	height: 400px;
	background-color: none;
	margin-top: 100px;
	display: inline-block;
}

.rectbox {
  fill-opacity: .67;
}