html, body {
	overflow-x: hidden;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: 100%;
}

line{
	stroke: #D3D3D3;
	stroke-width: 1px;
}

.container-fluid-header{
    width: 100%;
    height: 100vh;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
    margin-bottom: 50px;
    background-color: #8B0000;
}

h1#title{
	font-family: 'Berkshire Swash', cursive;
	font-size: 70px;
	text-align: center;
	width: 80%;
	height: 100%;
	padding-top: 200px;
	margin-top: 0px;
	margin-left: 10%;
	margin-right: 10%;
	color: white;
}

p#subhed{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	color: white;
	width: 70%;
	height: 100%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
}

p#credit{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 15px;
	color: black;
	width: 15%;
	height: 20px;
	margin-left: 70%;
	margin-right: 15%;
}

.container-top{
    width: 100%;
    height: 200px;
    background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
}

p#content{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	color: black;
	width: 50%;
	height: 100px;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 200px;
}

.main-container{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #FFEFD5;
	z-index: -1;
	transition: all 500ms;
}

#winebox{
	width: 70%;
    height: 100%;
    position: relative;
  	float: left;
    display: block;
}

.module{
	min-height: 500px;
}

.scroll-container{
	height:100%;
	width:30%;
	float:right;
}

.scroll-scene{
	position: relative;
	height: 100%;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	color: black;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0px 0px 0px 0px;
}

p#scroll-text{
	margin: 0px;	

}

.container-buttom{
	width: 100%;
    height: 600px;
    background-color: white;
    margin-top: 100px;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
}

p#content-1{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	color: black;
	width: 70%;
	height: 100px;
	margin-left: 15%;
	margin-right: 15%;
}

.graphic{
	width: 500px;
	height: 300px;
    margin: 10px 20% 100px 20%;
}

.selected {
  fill: red;
  stroke: brown;
}

.line{
	width: 100%;
	height: 1px;
	background-color: #8B0000;
}

h6.footer{
	width: 60%;
	height: 20px;
	margin-left: 20%;
	margin-right: 20%;
}


